In [1]:
df  <- data.frame(name = c("kim","lee","choi","park"),
                  age = c(32,25,18,39),
                  height = c(170,175,168,180),
                  weight = c(63,66,59,70))

In [2]:
df

  name age height weight
1 kim  32  170    63
2 lee  25  175    66
3 choi 18  168    59
4 park 39  180    70

In [3]:
name  <- c('kim','lee','choi','park')
age  <- c(32,25,18,39)
weight  <- c(63,66,59,70)
height  <- c(170,175,168,180)
df  <- data.frame(name,age,height,weight)

In [4]:
df

  name age height weight
1 kim  32  170    63
2 lee  25  175    66
3 choi 18  168    59
4 park 39  180    70

In [6]:
class(df)

[1] "data.frame"

In [7]:
df[1,]

  name age height weight
1 kim  32  170    63

In [8]:
df[3,]

  name age height weight
3 choi 18  168    59

In [9]:
df[c(1,3),]

  name age height weight
1 kim  32  170    63
3 choi 18  168    59

In [10]:
df[1:3,]

  name age height weight
1 kim  32  170    63
2 lee  25  175    66
3 choi 18  168    59

In [11]:
df[,2]

[1] 32 25 18 39

In [12]:
df[,2,drop = FALSE]

  age
1 32
2 25
3 18
4 39

In [13]:
df[c(1,3),c(1,2)]

  name age
1 kim  32
3 choi 18

In [14]:
df[2,2]

[1] 25

In [15]:
df

  name age height weight
1 kim  32  170    63
2 lee  25  175    66
3 choi 18  168    59
4 park 39  180    70

In [16]:
rownames(df)  <- c("one","two","three","four")

In [17]:
df

      name age height weight
one   kim  32  170    63
two   lee  25  175    66
three choi 18  168    59
four  park 39  180    70

In [18]:
df[c("one","three"),]

      name age height weight
one   kim  32  170    63
three choi 18  168    59

In [19]:
df[,"age"]

[1] 32 25 18 39

In [20]:
df[,"age",drop=FALSE]

      age
one   32
two   25
three 18
four  39

In [21]:
df[c("one","three"),c("name","age")]

      name age
one   kim  32
three choi 18

In [22]:
# in [17] df
# out[17]:
#    이름 나이 성별 전공
# 0  민준 22 남 수학
# 1  유리 20 여 영문
# 2  재희 21 남 경영
# 1. 데이터 프레임 만들기
# 2. 열 별로 전부 각각 데이터 추출하기 ($ 사용)
# 3. 행 별로 전부 각각 데이터 추출하기 
# 4. 유리와 재희의 정보만 추출하기
# 5. 나이와 성별의 정보만 추출하기  ($사용)
# 6. 나이의 평균
# 7. 성별 인원수

In [23]:
# 1번
이름  <- c('민준','유리','재희')
나이  <- c(22,20,21)
성별  <- c("남","여","남")
전공  <- c("수학","영문","경영")
df  <- data.frame(이름,나이,성별,전공)

In [24]:
df

  이름 나이 성별 전공
1 민준 22   남   수학
2 유리 20   여   영문
3 재희 21   남   경영

In [36]:
# 2번 
df[,1, drop=FALSE]
df[,2, drop=FALSE]
df[,3, drop=FALSE]
df[,4, drop=FALSE]

  이름
1 민준
2 유리
3 재희

  나이
1 22
2 20
3 21

  성별
1 남
2 여
3 남

  전공
1 수학
2 영문
3 경영

In [37]:
# 3번
df[1,]
df[2,]
df[3,]

  이름 나이 성별 전공
1 민준 22   남   수학

  이름 나이 성별 전공
2 유리 20   여   영문

  이름 나이 성별 전공
3 재희 21   남   경영

In [38]:
#4번
df[2:3,]

  이름 나이 성별 전공
2 유리 20   여   영문
3 재희 21   남   경영

In [39]:
#5번
df[,2:3]

  나이 성별
1 22   남
2 20   여
3 21   남

In [42]:
# 6번
mean(c(df[,2]))

[1] 21

In [1]:
x  <- read.csv('reservation_r_csv.csv')

In [3]:
head(x)

  RESERV_NO  RESERV_DATE RESERV_TIME CUSTOMER_ID BRANCH VISITOR_CNT CANCEL
1 2019082701 20190827    1800        W1340914    마포   2           N
2 2019082602 20190826    1200        W341658     동작   5           N
3 2019082601 20190826    1800        W1328993    강북   4           N
4 2019082501 20190825    1800        W1340463    용산   2           N
5 2019082401 20190824    1200        W1344912    강동   3           N
6 2019082301 20190823    1800        W1344753    영등포 2           N

In [6]:
install.packages("readxl")
library(readxl)

package 'readxl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\twinpia\AppData\Local\Temp\RtmpiwHq24\downloaded_packages

Warning message:
"package 'readxl' was built under R version 3.6.3"

In [7]:
y  <- read_excel('reservation_r_excel.xlsx')

In [8]:
head(y)

  RESERV_NO  RESERV_DATE RESERV_TIME CUSTOMER_ID BRANCH VISITOR_CNT CANCEL
1 2019082701 20190827    1800        W1340914    마포   2           N
2 2019082602 20190826    1200        W341658     동작   5           N
3 2019082601 20190826    1800        W1328993    강북   4           N
4 2019082501 20190825    1800        W1340463    용산   2           N
5 2019082401 20190824    1200        W1344912    강동   3           N
6 2019082301 20190823    1800        W1344753    영등포 2           N

In [10]:
write.csv(x,"csv_output.csv")

In [21]:
install.packages("writexl")

package 'writexl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\twinpia\AppData\Local\Temp\RtmpiwHq24\downloaded_packages

In [22]:
library('writexl')

Warning message:
"package 'writexl' was built under R version 3.6.3"

In [23]:
write_xlsx(y,"excel_output.xlsx")

In [25]:
sink("output.txt")
x  <- 1
y  <- 2
x
y
x+y

sink()

[1] 1

[1] 2

[1] 3

In [26]:
x  <- c(1,2,3)
y  <- c(4,5,6)

In [27]:
save(x,y, file = "save.Rdata")

In [28]:
rm(list= ls())

In [29]:
x

ERROR: Error in eval(expr, envir, enclos): 객체 'x'를 찾을 수 없습니다

In [30]:
load("save.Rdata")

In [32]:
x
y

[1] 1 2 3

[1] 4 5 6

In [33]:
x  <- c(1,2,3)
y  <- c(4,5,6)
z  <- c(7,8,9)

In [35]:
save(list =ls(),file ="save2.Rdata")

In [36]:
connect  <- file("result.txt","w")

In [37]:
x  <- iris$Sepal.Length

In [38]:
cat(summary(x),file = connect)

In [39]:
close(connect)

In [40]:
x  <- read.csv('reservation_r_csv.csv')

In [41]:
head(x) #데이터셋 앞부분

  RESERV_NO  RESERV_DATE RESERV_TIME CUSTOMER_ID BRANCH VISITOR_CNT CANCEL
1 2019082701 20190827    1800        W1340914    마포   2           N
2 2019082602 20190826    1200        W341658     동작   5           N
3 2019082601 20190826    1800        W1328993    강북   4           N
4 2019082501 20190825    1800        W1340463    용산   2           N
5 2019082401 20190824    1200        W1344912    강동   3           N
6 2019082301 20190823    1800        W1344753    영등포 2           N

In [43]:
tail(x) # 데이터셋 뒷부분

    RESERV_NO  RESERV_DATE RESERV_TIME CUSTOMER_ID BRANCH VISITOR_CNT CANCEL
391 2019092001 20190920    1200        W345397     송파   1           N
392 2019091901 20190919    1800        W1328505    강남   5           N
393 2019091801 20190918    1200        W345397     송파   1           N
394 2019091702 20190917    1200        W343277     성북   5           N
395 2019091701 20190917    1800        W1337923    강남   7           N
396 2019091601 20190916    1200        W1348303    영등포 2           N

In [44]:
str(x) #구조

'data.frame':	396 obs. of  7 variables:
 $ RESERV_NO  : int  2019082701 2019082602 2019082601 2019082501 2019082401 2019082301 2019082202 2019082201 2019082101 2019081901 ...
 $ RESERV_DATE: int  20190827 20190826 20190826 20190825 20190824 20190823 20190822 20190822 20190821 20190819 ...
 $ RESERV_TIME: int  1800 1200 1800 1800 1200 1800 1800 1200 1800 1200 ...
 $ CUSTOMER_ID: Factor w/ 182 levels "W1327595","W1327803",..: 51 137 7 49 66 65 25 20 39 141 ...
 $ BRANCH     : Factor w/ 25 levels "강남","강동",..: 13 12 3 21 2 20 4 15 4 19 ...
 $ VISITOR_CNT: int  2 5 4 2 3 2 2 3 6 5 ...
 $ CANCEL     : Factor w/ 2 levels "N","Y": 1 1 1 1 1 1 1 2 1 1 ...

In [45]:
summary(x) # 요약

   RESERV_NO          RESERV_DATE        RESERV_TIME     CUSTOMER_ID
 Min.   :2.019e+09   Min.   :20190603   Min.   :1200   W1338910:  9
 1st Qu.:2.019e+09   1st Qu.:20190912   1st Qu.:1200   W341634 :  9
 Median :2.019e+09   Median :20191113   Median :1800   W1337923:  8
 Mean   :2.019e+09   Mean   :20191043   Mean   :1553   W1342347:  8
 3rd Qu.:2.019e+09   3rd Qu.:20191213   3rd Qu.:1800   W1336410:  7
 Max.   :2.019e+09   Max.   :20191231   Max.   :1800   W1340914:  7
                                                       (Other) :348
     BRANCH     VISITOR_CNT     CANCEL
 강남   : 49   Min.   : 1.000   N:337
 강서   : 22   1st Qu.: 2.000   Y: 59
 마포   : 22   Median : 3.000
 서초   : 22   Mean   : 3.641
 동작   : 21   3rd Qu.: 4.000
 동대문 : 20   Max.   :23.000
 (Other):240

In [48]:
View(x) # 소스창으로 데이터와 구조 확인 앞문자 대문자

ERROR: Error in View(x): 'View()' not yet supported in the Jupyter R kernel

In [54]:
library(help=datasets)

In [55]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [57]:
head(iris,10)

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa

In [58]:
tail(iris) # 기본적으로 6개

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [59]:
tail(iris,10) # 개수를 지정해주면 그만큼 나옴

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [60]:
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [ ]:
# median 중간에 있는값
# mean 평균 값

In [64]:
summary(iris$Sepal.Length)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  4.300   5.100   5.800   5.843   6.400   7.900

In [65]:
str(iris)  # 데이터 구조 보기

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [ ]:
View(iris) # **********뷰만 앞글자가 대문자다 시험에도 나올정도 중요********

In [66]:
dim(iris) # 차원을 셈, iris 는 150행 5열

[1] 150   5

In [67]:
nrow(iris) # 행 개수를 셈

[1] 150

In [68]:
ncol(iris) # 열 개수를 셈

[1] 5

In [69]:
length(iris) # 데이터프레임에서 사용하면 열의 길이를 세서 출력

[1] 5

In [70]:
x  <- c(1,2,3,4,5,6,7,8,9,10)
x

 [1]  1  2  3  4  5  6  7  8  9 10

In [71]:
length(x) # 벡터에대해 사용하면 벡터의 길이를 출력

[1] 10

In [72]:
ls()  # 지정된 변수목록을 반환

[1] "connect" "x"       "y"       "z"

In [73]:
rm(list=ls())

In [74]:
ls()

character(0)

In [76]:
x  <- c(1,2,3,4,5)

In [77]:
object.size(x)

96 bytes

In [78]:
is.na(iris)

      Sepal.Length Sepal.Width Petal.Length Petal.Width Species
 [1,] FALSE        FALSE       FALSE        FALSE       FALSE
 [2,] FALSE        FALSE       FALSE        FALSE       FALSE
 [3,] FALSE        FALSE       FALSE        FALSE       FALSE
 [4,] FALSE        FALSE       FALSE        FALSE       FALSE
 [5,] FALSE        FALSE       FALSE        FALSE       FALSE
 [6,] FALSE        FALSE       FALSE        FALSE       FALSE
 [7,] FALSE        FALSE       FALSE        FALSE       FALSE
 [8,] FALSE        FALSE       FALSE        FALSE       FALSE
 [9,] FALSE        FALSE       FALSE        FALSE       FALSE
[10,] FALSE        FALSE       FALSE        FALSE       FALSE
[11,] FALSE        FALSE       FALSE        FALSE       FALSE
[12,] FALSE        FALSE       FALSE        FALSE       FALSE
[13,] FALSE        FALSE       FALSE        FALSE       FALSE
[14,] FALSE        FALSE       FALSE        FALSE       FALSE
[15,] FALSE        FALSE       FALSE        FALSE       FALSE
[16,] FALSE        FALSE       FALSE        FALSE       FALSE
[17,] FALSE        FALSE       FALSE        FALSE       FALSE
[18,] FALSE        FALSE       FALSE        FALSE       FALSE
[19,] FALSE        FALSE       FALSE        FALSE       FALSE
[20,] FALSE        FALSE       FALSE        FALSE       FALSE
[21,] FALSE        FALSE       FALSE        FALSE       FALSE
[22,] FALSE        FALSE       FALSE        FALSE       FALSE
[23,] FALSE        FALSE       FALSE        FALSE       FALSE
[24,] FALSE        FALSE       FALSE        FALSE       FALSE
[25,] FALSE        FALSE       FALSE        FALSE       FALSE
[26,] FALSE        FALSE       FALSE        FALSE       FALSE
[27,] FALSE        FALSE       FALSE        FALSE       FALSE
[28,] FALSE        FALSE       FALSE        FALSE       FALSE
[29,] FALSE        FALSE       FALSE        FALSE       FALSE
[30,] FALSE        FALSE       FALSE        FALSE       FALSE
[31,] ...          ...         ...          ...         ...
[32,] FALSE        FALSE       FALSE        FALSE       FALSE
[33,] FALSE        FALSE       FALSE        FALSE       FALSE
[34,] FALSE        FALSE       FALSE        FALSE       FALSE
[35,] FALSE        FALSE       FALSE        FALSE       FALSE
[36,] FALSE        FALSE       FALSE        FALSE       FALSE
[37,] FALSE        FALSE       FALSE        FALSE       FALSE
[38,] FALSE        FALSE       FALSE        FALSE       FALSE
[39,] FALSE        FALSE       FALSE        FALSE       FALSE
[40,] FALSE        FALSE       FALSE        FALSE       FALSE
[41,] FALSE        FALSE       FALSE        FALSE       FALSE
[42,] FALSE        FALSE       FALSE        FALSE       FALSE
[43,] FALSE        FALSE       FALSE        FALSE       FALSE
[44,] FALSE        FALSE       FALSE        FALSE       FALSE
[45,] FALSE        FALSE       FALSE        FALSE       FALSE
[46,] FALSE        FALSE       FALSE        FALSE       FALSE
[47,] FALSE        FALSE       FALSE        FALSE       FALSE
[48,] FALSE        FALSE       FALSE        FALSE       FALSE
[49,] FALSE        FALSE       FALSE        FALSE       FALSE
[50,] FALSE        FALSE       FALSE        FALSE       FALSE
[51,] FALSE        FALSE       FALSE        FALSE       FALSE
[52,] FALSE        FALSE       FALSE        FALSE       FALSE
[53,] FALSE        FALSE       FALSE        FALSE       FALSE
[54,] FALSE        FALSE       FALSE        FALSE       FALSE
[55,] FALSE        FALSE       FALSE        FALSE       FALSE
[56,] FALSE        FALSE       FALSE        FALSE       FALSE
[57,] FALSE        FALSE       FALSE        FALSE       FALSE
[58,] FALSE        FALSE       FALSE        FALSE       FALSE
[59,] FALSE        FALSE       FALSE        FALSE       FALSE
[60,] FALSE        FALSE       FALSE        FALSE       FALSE
[61,] FALSE        FALSE       FALSE        FALSE       FALSE

In [79]:
is.factor(iris) # 데이터

[1] FALSE

In [80]:
is.data.frame(iris) # 데이터 구조가 데이터 프레임인지 확인

[1] TRUE

In [81]:
head(AirPassengers)

[1] 112 118 132 129 121 135

In [83]:
str(Orange)

Classes 'nfnGroupedData', 'nfGroupedData', 'groupedData' and 'data.frame':	35 obs. of  3 variables:
 $ Tree         : Ord.factor w/ 5 levels "3"<"1"<"5"<"2"<..: 2 2 2 2 2 2 2 4 4 4 ...
 $ age          : num  118 484 664 1004 1231 ...
 $ circumference: num  30 58 87 115 120 142 145 33 69 111 ...
 - attr(*, "formula")=Class 'formula'  language circumference ~ age | Tree
  .. ..- attr(*, ".Environment")=<environment: R_EmptyEnv>
 - attr(*, "labels")=List of 2
  ..$ x: chr "Time since December 31, 1968"
  ..$ y: chr "Trunk circumference"
 - attr(*, "units")=List of 2
  ..$ x: chr "(days)"
  ..$ y: chr "(mm)"

In [84]:
head(Orange)

  Tree age  circumference
1 1     118  30
2 1     484  58
3 1     664  87
4 1    1004 115
5 1    1231 120
6 1    1372 142

In [85]:
tail(Orange)

   Tree age  circumference
30 5     484  49
31 5     664  81
32 5    1004 125
33 5    1231 142
34 5    1372 174
35 5    1582 177

In [86]:
is.data.frame(Orange)

[1] TRUE

In [87]:
dim(Orange)

[1] 35  3

In [88]:
summary(Orange)

 Tree       age         circumference
 3:7   Min.   : 118.0   Min.   : 30.0
 1:7   1st Qu.: 484.0   1st Qu.: 65.5
 5:7   Median :1004.0   Median :115.0
 2:7   Mean   : 922.1   Mean   :115.9
 4:7   3rd Qu.:1372.0   3rd Qu.:161.5
       Max.   :1582.0   Max.   :214.0

In [90]:
is.na(Orange)

   Tree  age   circumference
1  FALSE FALSE FALSE
2  FALSE FALSE FALSE
3  FALSE FALSE FALSE
4  FALSE FALSE FALSE
5  FALSE FALSE FALSE
6  FALSE FALSE FALSE
7  FALSE FALSE FALSE
8  FALSE FALSE FALSE
9  FALSE FALSE FALSE
10 FALSE FALSE FALSE
11 FALSE FALSE FALSE
12 FALSE FALSE FALSE
13 FALSE FALSE FALSE
14 FALSE FALSE FALSE
15 FALSE FALSE FALSE
16 FALSE FALSE FALSE
17 FALSE FALSE FALSE
18 FALSE FALSE FALSE
19 FALSE FALSE FALSE
20 FALSE FALSE FALSE
21 FALSE FALSE FALSE
22 FALSE FALSE FALSE
23 FALSE FALSE FALSE
24 FALSE FALSE FALSE
25 FALSE FALSE FALSE
26 FALSE FALSE FALSE
27 FALSE FALSE FALSE
28 FALSE FALSE FALSE
29 FALSE FALSE FALSE
30 FALSE FALSE FALSE
31 FALSE FALSE FALSE
32 FALSE FALSE FALSE
33 FALSE FALSE FALSE
34 FALSE FALSE FALSE
35 FALSE FALSE FALSE

In [91]:
length(Orange)

[1] 3

In [92]:
dim(Orange)

[1] 35  3